<!DOCTYPE html>
<html>
  <head>
    <title>nodePOP API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/nodePOP-api-logo.png" alt="nodepop-api-logo"></im>
    <h1><b><greenText>NodePOP API</greenText></b> - Repo práctica JS/Node/Mongo Boot V (Autor: Alejandro Cabral)</h1>
    <h2>
      Accede a la documentación en el <i>repo</i> en github <a href='https://github.com/acabral1973/nodepopapi'
      target="_blank">aqui</a>
    </h2>
  </body>
</html>
