<!DOCTYPE html>
<html>
  <head>
    <title>nodePOP API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos a la API de <greenText>nodePOP</greenText></h1>
    <p> Accede a la documentación 
        <a href='https://github.com/acabral1973/nodepopapi'
        target="_blank">aqui</a>
    </p>
  </body>
</html>
